.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px;
    padding: 20px 0;
    width: 40%;
}